DATABASE_URL="postgresql://neondb_owner:neondb_password@localhost/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="jwrt-secret-key"
JWT_EXPIRES_IN="7d"
PORT=3001
NODE_ENV=development
CORS_ORIGIN="http://localhost:3000"
REDIS_URL="redis://localhost:6379"